<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/core}">
<th:block layout:fragment="title">
    Index page
</th:block>
<th:block layout:fragment="styles">
    <!-- Dashboard styles-->
</th:block>

<div layout:fragment="page_content">
    <div class="box box-default ">
        <div class="box-header with-border">
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                  <a  href="javascript:handleButtonClick(1122)">
                    <div class="alert alert-info ">
                        <h4><i class="icon fa fa-info"></i> I-йўналиш</h4>
                        Қонун ижодкорлиги ва парламент назоратини амалга оширишнинг амалдаги механизмларини
                        такомиллаштириш
                        <br><br>
                    </div>
                  </a>

                    <div class="alert alert-info ">

                        <h4><i class="icon fa fa-info"></i>III-йўналиш</h4>
                        Олии Мажпис Қонунчилик палатаси депутатларининг сайлов округларидаги ва мурожаатлар билан
                        ишлаш борасидаги фаолиятини янги босқичга олиб чиқиш
                    </div>
                    <div class="alert alert-warning alert-dismissible">

                        <h4><i class="icon fa fa-warning"></i> V-йўналиш</h4>
                        Қонунчиликпалатасидепутатларинингдавлатдастурларини амалга оширишдаги ҳамда жамиёт ҳаётидаги
                        энг муҳим масалаларни ҳал этишдаги иштирокини кучайтириш
                    </div>
                    <div class="alert alert-success alert-dismissible">

                        <h4><i class="icon fa fa-check"></i> VII-йўналиш</h4>
                        Халқаро парламентлараро алоқаларни ривожлантириш,
                        мамлакатхавфсизлигинитаъминлашнингҳуқуқийасосларини такомиллаштириш

                    </div>
                </div>


                <div class="col-md-6">

                    <a href="">
                        <div class="alert alert-info alert-dismissible">
                            <h4><i class="icon fa fa-info"></i>II-йўналиш</h4>
                            Олий Мажлис Қонунчилик палатаси фаолиятида очиқлик ва шаффофликни таъминлаш ҳамда
                            жамоатчилик хабардорлигини ошириш ишларини тизимли йўлга қўйиш
                        </div>
                    </a>
                    <div class="alert alert-info alert-dismissible">
                        <h4><i class="icon fa fa-check"></i> IV-йўналиш</h4>
                        Аҳоли саломатлигини мустаҳкамлаш борасидаги ислоҳотларни ҳаётга татбиқэтишда парламент
                        назоратининг таъсирчанлигини янада ошириш
                    </div>
                    <div class="alert alert-warning alert-dismissible">

                        <h4><i class="icon fa fa-warning"></i> VI-йўналиш</h4>
                        Қонунчилик палатаси фаолиятида сиёсий партиялар фракцияларининг роли ва аҳамиятини
                        янада ошириш <br> <br>
                    </div>
                    <div class="alert alert-success alert-dismissible">
                        <h4><i class="icon fa fa-check"></i> VIII-йўналиш</h4>
                        Олий Мажпис Қонунчилик палатасининг бошқарув тизимини такомиллаштириш
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box box-default" id="1122"  >
        <div class="box-header"></div>
        <div class="box-body">

      <a class="col-md-6" ><p>
        <h4><i class="fa fa-check-square-o"></i>
      Тадбирларни (мажлисларни) ОАВда кенг ва тизимли ёритишни кучайтириш,
      жумладан фракция ва қўмита йиғилишларини жонли эфиргаузатиш амалиётиниўрганиш
    </h4>
          </p>
      </a>
            <p>
            <h4><i class="fa fa-check-square-o"></i>
                Тадбирларни (мажлисларни) ОАВда кенг ва тизимли ёритишни кучайтириш,
                жумладан фракция ва қўмита йиғилишларини жонли эфирга узатиш амалиётиниўрганиш
            </h4>
            </p>
            <p>
            <h4><i class="fa fa-check-square-o"></i>
                Тадбирларни (мажлисларни) ОАВда кенг ва тизимли ёритишни кучайтириш,
                жумладан фракция ва қўмита йиғилишларини жонли эфиргаузатиш амалиётиниўрганиш
            </h4>
            </p>
            <p>
            <h4><i class="fa fa-check-square-o"></i>
                Тадбирларни (мажлисларни) ОАВда кенг ва тизимли ёритишни кучайтириш,
                жумладан фракция ва қўмита йиғилишларини жонли эфиргаузатиш амалиётиниўрганиш
            </h4>
            </p>
            <p>
            <h4><i class="fa fa-check-square-o"></i>
                Тадбирларни (мажлисларни) ОАВда кенг ва тизимли ёритишни кучайтириш,
                жумладан фракция ва қўмита йиғилишларини жонли эфиргаузатиш амалиётиниўрганиш
            </h4>
            </p>
        </div>
    </div>
</div>
<th:block layout:fragment="scripts">
    <!--my scripts-->
  <script>
    function handleButtonClick(e) {

      document.getElementById(e).scrollIntoView({block: "center", behavior: "smooth"});
    }

  </script>

</th:block>
</html>