<!DOCTYPE html>
<html      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/core}">
<th:block layout:fragment="styles">
    <!-- Dashboard styles-->
</th:block>

<div layout:fragment="page_content">
    <h1> Index Kanselyariya</h1>

    <div sec:authorize="hasRole('ADMIN')">aDMIN</div>
    <div sec:authorize="hasRole('ROLE_KANSELYARIYA')">KANSELYARIYA</div>

    <th:block th:text="${#authentication.getPrincipal()}"></th:block>

    <form th:action="@{/kanselyariya/upload}" th:method="post" enctype="multipart/form-data">
        <input type="file" name="file" required multiple />
        <button type="submit"> send</button>
    </form>


</div>

<th:block layout:fragment="scripts">
    <!--my scripts-->
</th:block>
</html>