<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/core}">


<th:block layout:fragment="title">
 qumita
</th:block>


<th:block layout:fragment="styles">
    <!-- Dashboard styles-->
</th:block>


<th:block layout:fragment="page_content">





    <div class="box">
        <div class="box-header">
            <a href="/admin/qumita/add" class="btn btn-success"><i class="fa fa-plus"></i></a><br>
        </div>
        <!-- /.card-header -->
        <div class="box-body">
            <th:block th:if="${qumitaPage!=null and !qumitaPage.isEmpty()}">
            <div class="btn-group">
                <button class="btn btn-info dropdown-toggle"
                        data-toggle="dropdown">
                    page-   <th:block th:text="${qumitaPage.size}" ></th:block> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" >
                    <li><a   href="?size=1">1</a></li>
                    <li><a   href="?size=2">2</a></li>
                    <li><a   href="?size=3">3</a></li>
                    <li><a   href="?size=4">4</a></li>

                </ul>
            </div>
            </th:block>

            <table class="table table-bordered table-hover ">

                <thead class="text-primary">
                <tr>

                    <form action="/admin/qumita/" >
                        <th><input type="text" name="search" class="form-control"id="fullName" ></th>
                        <th><button type="submit" class="btn btn-info form-control"><i class="fa fa-search"></i></button></th>
                        <th> </th>
                        <th> </th>
                    </form>
                </tr>
                <tr>
                    <th> qumita  name</th>

                    <th> Operation</th>
                </tr>
                               </thead>
                <tbody class="table-responsive">
                <tr th:each="qumita:${qumitaPage.content}">
                    <td th:text="${qumita.name}"></td>

                    <td>
                        <a th:href="${'/admin/qumita/edit/'+qumita.id}"
                           class="btn btn-warning btn-sm"> Edit </a>

                        <a th:href="${'/admin/qumita/delete/'+qumita.id}"
                           class="btn btn-danger btn-sm"> Delete </a>
                    </td>
                </tr>
                </tbody>

            </table>

            <th:block th:if="${qumitaPage!=null and !qumitaPage.isEmpty()}">
            <nav aria-label="Page navigation example">

                <ul class="pagination justify-content-end">
                    <li  th:if="${qumitaPage.totalPages > 0}"
                        th:each="pageNumber : ${pageNumber}"
                        th:class="${pageNumber==qumitaPage.number + 1} ? 'page-item active':'page-item'">
                        <a th:href="@{/admin/qumita/(size=${qumitaPage.size}, page=${pageNumber}-1)}"
                           th:text="${pageNumber}" class="page-link"></a>
                    </li>
                </ul>
            </nav>
            </th:block>
            <a href="javascript:history.go(-1)" title="Return to the previous page">&laquo; Go back</a>
        </div>
        <!-- /.card-body -->
    </div>


</th:block>


<!--Scripts-->
<th:block layout:fragment="scripts">

<!--

<script type="text/javascript">

    $(document).ready(function () {
        $("#tbs1").keyup(function () {
            var tbs1 = $(this).val();


            $.ajax({
                url: "/admin/qumita?search="+tbs1,
                method: "GET",

                success: function (data) {
                    console.log(data);


                }

            });
           console.log(tbs1);

        });
    });

</script>
-->

<!--    $.get("/admin/qumita", {term: $('#tbs1').val()}, function(data) {
    // do your data manipulation and transformation here
    });-->

</th:block>


</html>