<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/core}">
<th:block layout:fragment="title">
  Index page
</th:block>
<th:block layout:fragment="styles">
  <!-- Dashboard styles-->
</th:block>

<div layout:fragment="page_content">
  <h1> Index Default</h1>
   <!-- <span th:text="${user}"></span><br>
  <div th:each="rol:${roles}">
    <span th:text="${rol.name}"></span>
  </div>-->


    <div sec:authorize="hasRole('ROLE_USER')">Text visible to user.</div>
    <div sec:authorize="hasRole('ROLE_ADMIN')">Text visible to admin.</div>
    <div sec:authorize="isAuthenticated()">
        Text visible only to authenticated users.
    </div>
    Authenticated username:
    <div sec:authentication="name"></div>
    Authenticated user roles:
    <div sec:authentication="principal.authorities"></div>

Default Page


</div>

<th:block layout:fragment="scripts">
  <!--my scripts-->
</th:block>
</html>