<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/core}">


<th:block layout:fragment="title">
  Document
</th:block>


<th:block layout:fragment="styles">
    <link rel="stylesheet" href="/assets/bower_components/Ionicons/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <!-- DataTables -->

</th:block>


<th:block layout:fragment="page_content">





    <div class="box">
        <div class="box-header box-solid">
            <h3 class="box-title text-bold">
                <i class="fa fa-file-text"></i> Hujjatlar
            </h3>
        </div>
        <!-- /.card-header -->
        <div class="box-body">
            <div class="table-responsive">
            <table class="table table-bordered table-hover table-responsive" id="exam1">
                <thead class="text-primary">

                <tr>
                    <th>Id</th>
                    <th>Fayl nomi</th>
                    <th>Kelgan Sana</th>
                    <th> Turi</th>
                    <th> O'lchami</th>
                    <th>Yuklash</th>
                </tr>
                               </thead>
                <tbody class="table-responsive">
                <th:block th:if="${documents!=null}">
                    <tr th:each="doc:${documents}" th:classappend="${!doc.open} ? 'invalid ' : ''"  th:title="${!doc.isOpen()}?'Yuklanmagan':'Yuklangan'">

                    <td th:text="${doc.id}"></td>
                    <td th:text="${doc.fileName}"></td>
                        <td th:text="${#dates.format(doc.createdAt, 'dd-MMM-yyyy')}"></td>
                    <td th:text="${doc.type}"></td>
                    <td th:text="${doc.size}"></td>
                    <td>
                        <a th:href="${'/telegram/document/get/'+doc.id}"
                           class="btn btn-success  btn-sm ">  <i class="fa fa-download"></i> Yuklash </a>
                    </td>

                </tr>
                </th:block>
                </tbody>

            </table>



            </div>
        </div>
        <!-- /.card-body -->
    </div>


</th:block>


<!--Scripts-->
<th:block layout:fragment="scripts">
   <!-- <script type="text/javascript">
        $(document).ready(function() {
            $('#atable').DataTable( {
                processing: true,
                serverSide: true,
                ajax: {
                    url:'/telegram/ajax',
                    type:'GET',
                    dataSrc:''
                },
                columns: [
                    {title:"Id",data: "id"},
                    {title:"Name",data: "fileName"}
                   /* {title:"Id",data: "size"},
                    {title:"Id",data: "type"}*/

                ]
            } );
        } );
    </script>-->




</th:block>


</html>